{{ define "page" }}
  <section class="shell error-page">
    <h1>404</h1>
    <p>The page you requested could not be found.</p>
    <p><a href="/">Return home</a></p>
  </section>
{{ end }}

{{ template "layout/base.gohtml" . }}