{{ define "partials/styles" }}
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/common.css">
  <script defer src="/assets/js/site.js"></script>
{{ end }}